@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap&subset=cyrillic-ext');
*{
    padding: 0;
    margin: 0;
    border: 0;
    
}
a{
    text-decoration: none;
}
html {
    background-color: rgb(88, 72, 72);

}
html, body {
    height: 100%;
    color: rgb(255, 255, 255);

}
.container{
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/693740\ 1.png) center no-repeat;
    background-size: cover;
    position: relative;
    display: block;
    height: 100%;
    
}
.welcome{
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 900;
    font-size: 40px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;
}
.start{
    background: #8EE0E6;
    box-shadow: 0px 0px 137px rgba(142, 224, 229, 0.5);
    border-radius: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 78px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000f99;

    text-shadow: 4px 4px 4px rgba(57, 57, 57, 0.44);
    padding: 1.2% 44%;
    margin: 10px;
    justify-content: center;
    position: absolute;
    bottom: 7%;
}
.start:hover{
    background-color: #47a3aa;
    color: rgb(0, 4, 63);
}
li{
    background: #376FB9;
    margin-top: 10px;
    padding: 15px 10px;
    border-radius: 14px;
    font-size: 30px;
    cursor: pointer;
    font-family: 'Montserrat'
    
}
li:hover{
    background-color: #2e5a94;
    color: rgb(161, 142, 142);
}
li:active{
    background-color:#244879
}
.pref{
    background: #000000;
    box-shadow: 0px 0px 137px rgba(142, 224, 229, 0.5);
    border-radius: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 78px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #BDDAFF;

    text-shadow: 4px 4px 4px rgba(57, 57, 57, 0.44);
    padding: 1.2% 44%;
    margin: 10px;
    justify-content: center;
    position: absolute;
    bottom: 7%;
    border: 4px solid #BDDAFF;
}
.start:hover{
    background-color: #47a3aa;
    color: rgb(0, 4, 63);
}